<%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container">

    <h1>Reset Password</h1>
    <% if(errorMessage) { %>
      <h2 class="flash__message flash__message--error"><%= errorMessage %></h2>
    <% } %>
    <form action="/reset-password" method="POST">
      <label for="email">E-mail</label>
      <input type="email" name="email"><br>
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <button type="submit">Send</button>
    </form>

  </div>

<%- include('../partials/footer'); %>
