<%- include('../partials/header'); %>
</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container mt-lg">

    <h1>Error <%= responseError.status %> page</h1>
    <h1>404 Error Page</h1>
    <p><%= responseError.message %></p>

  </div>

<%- include('../partials/footer'); %>
