<%- include('partials/header'); %>
</head>

<body>

  <%- include('partials/navbar'); %>

  <div id="hero" class="hero">

    <div class="hero__content">

      <h1 class="hero__header"><i class="fas fa-globe-americas"></i>&nbsp;Travel Guides</h1>

    </div>

  </div>

  <div class="container">

    <section class="destinations">

        <% allRegions.forEach(region => { %>
    
          <div class="region-card">
    
            <div class="region-card__header">
              <h1 class="region-card__heading"><i class="fas fa-ellipsis-h"></i>&nbsp;<%= region.name %></h1>
              <a href="#" class="region-card__heading--right"><i class="fas fa-globe-africa"></i>&nbsp;See all <%= region.countries.length %> destinations</a>
            </div>
    
            <div class="region-card__destinations">
              <% region.countries.forEach((country, index) => { %>

                <div class="destination-card destination-card--<%= index %>">
                  <div class="destination-card__head">
                    <a class="destination-card__link" href="/destinations/<%= country._id %>"><%= country.name %></a>
                    <img src="https://source.unsplash.com/random/450x300/?sig=<%= index %>&travel" alt="" class="destination-card__img">
                  </div>

                  <!-- <div class="destination-card__cities">
                    <ul class="destination-card__cities--list">
                      <% country.cities.forEach(city => { %>
                        <li class="destination-card__cities--city">
                          <a href="/destinations/<%= country._id %>/cities/<%= city._id %>">&raquo;&nbsp;<%= city.name %></a>
                        </li>
                      <% }); %>
                    </ul>
                  </div> -->

                  <div class="destination-card__actions">
                    <ul class="destination-card__actions--list">
                      <li class="destination-card__stars">
                        <% for(i = 0; i < 5; i++) { %>
                          <a href="#" class="">
                            <i class="fas fa-star"></i>
                          </a>
                        <% } %>
                      </li>
                      <li><a href="#" class="white-link"><i class="fab fa-youtube"></i></a></li>
                      <li><a href="#" class="white-link"><i class="fas fa-share-alt"></i></a></li>
                      <li><a href="#" class="white-link"><i class="far fa-heart"></i></a></li>
                    </ul>
                  </div>

                </div>

              <% }); %>
            </div>

            <div class="region-card__footer">
              <ul class="region-card__actions">
                <li class="region-card__action">
                  <a href="#" class="region-card__link"><i class="fas fa-map-signs"></i>&nbsp;&nbsp;Getting Around</a>
                </li>
                <li class="region-card__action">
                  <a href="#" class="region-card__link"><i class="fas fa-window-restore"></i>&nbsp;&nbsp;Booking Sites</a>
                </li>
                <li class="region-card__action">
                  <a href="#" class="region-card__link"><i class="fas fa-piggy-bank"></i>&nbsp;&nbsp;Money Saving Tips</a>
                </li>
                <li class="region-card__action">
                  <a href="#" class="region-card__link"><i class="fas fa-money-bill-alt"></i>&nbsp;&nbsp;Budgets</a>
                </li>
                <li class="region-card__action">
                  <a href="#" class="region-card__link"><i class="fas fa-suitcase-rolling"></i>&nbsp;&nbsp;Packing Guide</a>
                </li>
                <li class="region-card__action">
                  <a href="#" class="region-card__link"><i class="fas fa-route"></i>&nbsp;&nbsp;Itineraries</a>
                </li>
              </ul>
            </div>
    
          </div>
    
        <% }); %>
        </section>

  </div>

<%- include('partials/footer'); %>
