<%- include('partials/header'); %>
</head>

<body>

  <%- include('partials/navbar'); %>

  <div id="hero" class="hero">

    <div class="hero__content">

      <h1 class="hero__header">Travel Guides</h1>

    </div>

  </div>

  <div class="container">

    <section class="destinations">

        <% allRegions.forEach(region => { %>
    
          <div class="region-card">
    
            <div class="region-card__header">
              <img class="region-card__img" src="images/regions/<%= region.image %>.jpg">
              <h1 class="region-card__title"><%= region.name %></h1> 
            </div>
    
            <div class="region-card__destinations">
              <% region.cities.forEach(city => { %>
                <div class="destination-card">
    
                  <a class="destination-card__link" href="/destinations/<%= city._id %>"><i class="fas fa-flag"></i>&nbsp;<%= city.name %></a>
                </div>
              <% }); %>
            </div>
    
          </div>
    
        <% }); %>
        </section>

  </div>

<%- include('partials/footer'); %>
