<% include ../partials/header %>

<%- include('../partials/header'); %>

</head>

<body>

  <%- include('../partials/navbar'); %>

    <div class="container basicFormWidth" id="newCityContainer">

      <h1>Add New City to <%= foundDestination.name %></h1>

      <form action="/destinations/<%= foundDestination._id %>/cities" method="POST">
        <div class="form-group">
            <label for="city[name]">Name:</label>
            <input class="form-control" type="text" name="city[name]" placeholder="City name...">
            <input type="hidden" name=country[id] value="<%= foundDestination._id %>">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Add</button>
      </form>

    </div>

<% include ../partials/footer %>
