<% include ../partials/header %>

<%- include('../partials/header'); %>

</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container basicFormWidth" id="">

    <h1><%= foundCity.name %></h1>
    <a class="" href="/destinations/<%= foundCity.country.id %>/cities/<%= foundCity._id %>/attractions/new">Add a new Attraction to <%= foundCity.name %></a><br>
    <a class="" href="/destinations/<%= foundCity.country.id %>/cities/<%= foundCity._id %>/eateries/new">Add a new Eatery to <%= foundCity.name %></a>

  </div>

<% include ../partials/footer %>
