<%- include('../partials/header'); %>

</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container mt-lg">
    <h1 class="destinations-page__heading underlined">Choose a Destination</h1>
    
    <div class="cards-container">
      <% allDestinations.forEach((destination, index) => { %>
        <div class="country-card">
          <div class="country-card__header">
            <a href="destinations/<%= destination._id %>">
              <img class="country-card__img" src="https://source.unsplash.com/random/400x400?sig=<%= index %>&travel" alt="<%= destination.name %>">
            </a>
          </div>
          <div class="country-card__body">
            <p class="country-card__country">
              <a href="destinations/<%= destination._id %>"><i class="fas fa-ellipsis-h"></i>&nbsp;<%= destination.name %></a>
            </p>
            <div class="country-card__cities">
              <ul class="country-card__cities--list">
                <% destination.cities.forEach(city => { %>
                  <li class="country-card__cities--city">
                    <a href="/destinations/<%= destination._id %>/cities/<%= city._id %>">&raquo;&nbsp;<%= city.name %></a>
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="country-card__actions">
              <ul class="destination-card__actions--list">
                <li class="destination-card__stars">
                  <% for(i = 0; i < 5; i++) { %>
                    <a href="#" class="white-link">
                      <i class="fas fa-star"></i>
                    </a>
                  <% } %>
                </li>
                <li><a href="#" class="white-link"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#" class="white-link"><i class="fas fa-share-alt"></i></a></li>
                <li><a href="#" class="white-link"><i class="far fa-heart"></i></a></li>
              </ul>
            </div>
          </div> <!-- Country card body -->
        </div> <!-- Country card-->
      <% }); %>
   </div> <!-- Cards container-->
  </div> <!-- Main container -->

<%- include('../partials/footer'); %>
