<%- include('../partials/header'); %>

</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container">
    <h1>Choose a Destination</h1>

    <h3>All Destinations</h3>
    
    <% allDestinations.forEach((destination, index) => { %>
      <div class="">
        <a href="destinations/<%= destination._id %>">
          <img class="" src="https://source.unsplash.com/random/500x500?sig=<%= index %>&travel" alt="<%= destination.name %>">
        </a>
        <div class="">
          <p class="">
            <%= destination.region.name %> | <a href="destinations/<%= destination._id %>"><%= destination.name %></a>
          </p>
        </div>
      </div>
    <% }); %>
      
  </div>

<%- include('../partials/footer'); %>
