<% include ../partials/header %>

<%- include('../partials/header'); %>

</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container basicFormWidth">
    <h1 class="display-4">Edit -
      <%= foundDestination.name %>
    </h1>

    <form action="/destinations/<%= foundDestination._id %>?_method=PUT" method="post">
      <div class="form-group">
        <label for="destination[name]">Name</label>
        <input class="form-control" type="text" name="destination[name]" value="<%= foundDestination.name %>">
      </div>
      <div class="form-group">
        <label for="destination[flag]">Flag</label>
        <input class="form-control" type="text" name="destination[flag]" value="<%= foundDestination.flag %>">
      </div>
      <div class="form-group">
        <label for="destination[region]">Region</label>
        <select class="form-control mb-4" name="region[name]]">
          <option selected disabled hidden>Choose a region</option>
          <% allRegions.forEach(region => { %>
            <option value="<%= region.name %>"><%= region.name %></option>
          <% }); %>
        </select>
      </div>
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <button class="btn btn-primary btn-block" type="submit">Update</button>
    </form>
  </div>

<% include ../partials/footer %>
