<% include ../partials/header %>

<%- include('../partials/header'); %>

</head>

<body>

  <%- include('../partials/navbar'); %>

  <div class="container basicFormWidth mt-lg" id="newDestinationContainer">

    <h1 class="display-5">Add New Destination</h1>

    <form action="/destinations" method="post">

      <div class="form-group">
        <label for="destination[name]">Name</label>
        <input class="form-control" type="text" name="destination[name]" placeholder="Destination name...">
      </div>
      <div class="form-group">
        <label for="destination[name]">Flag</label>
        <input class="form-control" type="text" name="destination[flag]" placeholder="Destination flag...">
      </div>
      <div class="form-group">
        <label for="destination[region]">Region</label>
        <select class="form-control mb-4" name="region[name]">
          <option selected disabled hidden>Choose a region</option>
          <% allRegions.forEach(region => { %>
            <option value="<%= region.name %>"><%= region.name %></option>
          <% }); %>
        </select>
      </div>
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <button class="btn btn-primary btn-block" type="submit">Add</button>

    </form>

  </div>

<% include ../partials/footer %>
